# Server
APP_PORT=8087
APP_ENV=development

# PostgreSQL
DB_HOST=160.191.32.224
DB_PORT=5432
DB_NAME=mock_datasource_db
DB_USER=postgres
DB_PASS=

# Path đến thư mục Csv_v2 (relative từ thư mục chạy service)
SCHEMA_DIR=./schemas/csv

# Whitelist IP/host được phép gọi API (comma-separated)
# Để trống = cho phép tất cả
# ALLOWED_HOSTS=192.168.1.10,10.0.0.5,thcs-integration-service
