# sharing-service — local: 8087, server: theo APP_PORT deploy (8080)
APP_PORT=8087

# Postgres — warehouse DB (bảng sharing_access_logs)
DB_HOST=postgres-db
DB_PORT=5432
DB_NAME=DMST_SHARING_DB
DB_USER=postgres
DB_PASS=Abcd@123456

HIVE_HOST=160.191.32.149
HIVE_PORT=10000
HIVE_USER=admin
HIVE_PASS=Abcd@123456

HUE_URL=http://160.191.32.149:8889
HUE_USER=admin
HUE_PASS=Abcd@123456

REPLICA_ZONE=zone2
DEFAULT_SHARE_PAGE_SIZE=20
