@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-50: #feebef;
    --primary-100: #ee0033;
    --primary-200: #c4132b;

    --neutral-0: #ffffff;
    --neutral-50: #f7f7f7;
    --neutral-100: #e3e4e4;
    --neutral-200: #b4b6b8;
    --neutral-300: #8f9294;
    --neutral-400: #73777a;
    --neutral-500: #575b5f;
    --neutral-600: #44494d;
    --neutral-700: #3c3a3c;
    --neutral-800: #241d1e;
    --neutral-900: #000000;

    --neutral-dark-0: #2e2e2e;
    --neutral-dark-50: #3d3d3d;
    --neutral-dark-100: #4c4c4c;
    --neutral-dark-200: #666666;
    --neutral-dark-300: #7f7f7f;
    --neutral-dark-400: #a6a6a6;
    --neutral-dark-500: #bfbfbf;
    --neutral-dark-600: #cccccc;
    --neutral-dark-700: #e0e0e0;
    --neutral-dark-800: #f2f2f2;
    --neutral-dark-900: #ffffff;

    --neutral-bg: #f2f2f2;
    --neutral-dark-bg: #262626;

    --red-50: #fff6f6;
    --red-100: #f9e1e1;
    --red-200: #f2c1c1;
    --red-300: #eda9a9;
    --red-400: #e89090;
    --red-500: #e27272;
    --red-600: #dc5757;
    --red-700: #d63939;
    --red-800: #cc0808;
    --red-900: #b90404;

    --blue-50: #fafcfe;
    --blue-100: #ecf2fc;
    --blue-200: #ccddf6;
    --blue-300: #aac7f0;
    --blue-400: #90b5eb;
    --blue-500: #73a2e6;
    --blue-600: #5890e1;
    --blue-700: #0d5ed4;
    --blue-800: #0d5ed4;
    --blue-900: #0552c2;

    --green-50: #f8fcf8;
    --green-100: #dcf0de;
    --green-200: #c1e5c5;
    --green-300: #a6d9ab;
    --green-400: #8ace91;
    --green-500: #6fc277;
    --green-600: #54b75e;
    --green-700: #39ab44;
    --green-800: #079615;
    --green-900: #028710;

    --orange-50: #fdfaf7;
    --orange-100: #f7e7dc;
    --orange-200: #f2d3c0;
    --orange-300: #ecc0a4;
    --orange-400: #e6ad89;
    --orange-500: #e09a6d;
    --orange-600: #da8751;
    --orange-700: #cf6b29;
    --orange-800: #c95103;
    --orange-900: #b44a05;

    --lime-50: #f7fee7;
    --lime-100: #ecfccb;
    --lime-200: #d9f99d;
    --lime-300: #bef264;
    --lime-400: #a3e635;
    --lime-500: #84cc16;
    --lime-600: #65a30d;
    --lime-700: #4d7c0f;
    --lime-800: #3f6212;
    --lime-900: #365314;

    --teal-50: #f0fdfa;
    --teal-100: #ccfbf1;
    --teal-200: #99f6e4;
    --teal-300: #5eead4;
    --teal-400: #2dd4bf;
    --teal-500: #14b8a6;
    --teal-600: #0d9488;
    --teal-700: #0f766e;
    --teal-800: #115e59;
    --teal-900: #134e4a;

    --cyan-50: #ecfeff;
    --cyan-100: #cffafe;
    --cyan-200: #a5f3fc;
    --cyan-300: #67e8f9;
    --cyan-400: #22d3ee;
    --cyan-500: #06b6d4;
    --cyan-600: #0891b2;
    --cyan-700: #0e7490;
    --cyan-800: #155e75;
    --cyan-900: #164e63;

    --D-X0-Y2-B4-S0-15: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    --D-X0-Y2-B4-S0-25: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    --D-X0-Y4-B6-S0-25: 0 4px 6px 0 rgba(0, 0, 0, 0.25);
    --D-X0-Y1-B2-S0-30: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
    --D-X0-Y0-B10-S0-30: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    --D-X0-Y2-B2-S0-30: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
    --D-X-2-Y4-B10-S0-60: -2px 4px 10px 0 rgba(0, 0, 0, 0.6);
    --D-X0-Y0-B6-S0-30: 0 0 6px 0 rgba(0, 0, 0, 0.3);
    --D-X0-Y0-B6-S0-Neutral-50: 0 0 6px 0 rgba(255, 255, 255, 0.5);
    --D-X0-Y2-B8-S0-15: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
    --D-X0-Y2-B8-S0-10: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
    --D-X0-Y0-B8-S0-15: 0 0 8px 0 rgba(0, 0, 0, 0.15);
    --D-X1-Y2-B8-S0-45: 1px 2px 8px 0 rgba(0, 0, 0, 0.45);
    --D-X0-Y-1-B20-S0-20: 0px -1px 20px 0px rgba(0, 0, 0, 0.2);
    --D-X-3-Y0-B2-S0-30: -3px 0 2px 0px rgba(0, 0, 0, 0.1);
    --D-X3-Y0-B2-S0-30: 3px 0 2px 0 rgba(0, 0, 0, 0.1);
    --D-X0-Y2-B4-S0-25: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    --D-X0-Y0-B4-S0-100: 0 0px 4px 0 rgba(255, 255, 255, 1);
    --D-X0-Y0-B10-S0-100: 0 0px 10px 0 rgba(255, 255, 255, 1);

    --I-X0-Y0-B6-S0-25: inset 0 0 6px 0 rgba(0, 0, 0, 0.25);
    --I-X0-Y0-B6-S0-30: inset 0 0 6px 0 rgba(0, 0, 0, 0.3);
    --I-X1-Y1-B2-S0-Neutral-0: inset 1px 1px 2px 0 rgba(255, 255, 255, 1);
    --I-X0-Y1-B4-S0-60: inset 0 1px 4px 0 rgba(0, 0, 0, 0.6);
    --I-X0-Y-1-B0-S0-15: inset 0 -1px 0 0 rgba(0, 0, 0, 0.15);
    --I-X2-Y2-B4-S0-25: inset 2px 2px 4px 0 rgba(0, 0, 0, 0.25);
    --I-X0-Y1-B4-S0-30: inset 0 1px 4px 0 rgba(0, 0, 0, 0.3);
    --I-X0-Y0-B4-S0-25: inset 0 0 4px 0 rgba(0, 0, 0, 0.25);
    --I-X0-Y0-B4-S2-30: inset 0 0 4px 2px rgba(0, 0, 0, 0.3);
    --I-X0-Y4-B4-S0-25: inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);

    --radius: 0.5rem;
    --font-size: 0.875rem; /* 14px */
    --line-height: 1.25rem; /* 20px */
  }

  .dark {
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background;
    font-size: 13px;
    line-height: 14px;
    font-weight: 400;
    color: #393b40;
  }
}

@layer utilities {
  @-moz-document url-prefix() {
    .scrollbar {
      scrollbar-width: thin; /* auto | thin | none */
      scrollbar-color: var(--neutral-200) #e1e1e1; /* thumb track */
    }
    .scrollbar:hover {
      scrollbar-color: var(--neutral-300) #e1e1e1;
    }
    .scrollbar-none {
      scrollbar-width: none;
    }
  }

  .scrollbar-none {
    -ms-overflow-style: none;
  }
}

@media (min-width: 768px) {
  .sm-scrollbar::-webkit-scrollbar {
    @apply h-1.5 w-1.5;
  }
  .sm-scrollbar::-webkit-scrollbar-track {
    background: #e1e1e1;
    @apply rounded-xl;
  }
  .sm-scrollbar::-webkit-scrollbar-thumb {
    @apply rounded-xl bg-neutral-300;
  }
}

:focus-visible {
  outline: none;
}

/* Hide spin button on Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide spin button on Firefox */
input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}

tr[data-state="selected"].group:hover td {
  background-color: #fbfbfb;
}

html body[data-scroll-locked] {
  overflow: visible !important;
  margin-right: 0 !important;
}

body {
  background-color: var(--neutral-bg);
}
