# Server
PORT=8081
APP_ENV=development
LOG_LEVEL=debug
OTEL_ENABLED=true
OTEL_ENDPOINT=otel-collector:4317

# Database
DB_HOST=postgres-db
DB_PORT=5432
DB_NAME=DMST_Integration_DB
DB_USER=postgres
DB_PASS=Abcd@123456

KAFKA_BROKERS=kafka-broker1:9092,kafka-broker2:9092,kafka-broker3:9092
KAFKA_GROUP_ID=audit-service-group

# SigNoz
SIGNOZ_URL=http://signoz-frontend:3301
SIGNOZ_EMAIL=admin@dmst.local
SIGNOZ_PASSWORD=Abcd@123456
