# ============================================================
# dmst-integration-ingest — Environment Variables
# Copy sang .env và điền giá trị thực
# ============================================================

# App
APP_PORT=8081
APP_ENV=development

# Logging
LOG_LEVEL=info

# Database
DB_HOST=160.191.33.99
DB_PORT=5432
DB_USER=postgres
DB_PASS=Abcd@123456
DB_NAME=DMST_Integration_DB

# Kong
KONG_ADMIN_URL=http://160.191.33.99:8001
KONG_API_URL=http://160.191.33.99:8000

# Kafka
KAFKA_BROKERS=kafka-broker1:9092,kafka-broker2:9092,kafka-broker3:9092
KAFKA_INGEST_TOPIC=dmst.ingest.raw

# OpenTelemetry (tắt khi dev local, bật khi staging/prod)
OTEL_ENABLED=true
OTEL_ENDPOINT=160.191.33.99:4317
SERVICE_NAME=dmst-integration-ingest

# Redis
REDIS_HOST=160.191.33.99
REDIS_PORT=6379
REDIS_PASSWORD=Abcd@123456

#Schema_Registry
SCHEMA_REGISTRY_URL=http://160.191.32.193:8081
SCHEMA_REGISTRY_USER=
SCHEMA_REGISTRY_PASSWORD=
SCHEMA_DIR=schema-registry

# Kho Mở API
KHO_MO_API_HOST=http://160.191.32.224:8000
KHO_MO_API_DATASET_PATH=CDLQG/TIMKIEM_CHITIET
KHO_MO_API_DETAIL_PATH=CDLQG/CHI_TIET_DULIEU
KHO_MO_API_KEY=cdlqg-secret-key-2026
KHO_MO_RATE_RPS=5.0
KHO_MO_RATE_BURST=10
KHO_MO_KAFKA_TOPIC=dmst_integration_CDLQG_TIMKIEM_CHITIET
KHO_MO_SCHEMA_SUBJECT=cdlqg-item-value
KHO_MO_ITEM_VALIDATE_ENABLED=false
